$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "_bootstrap.scss";
// endbower

// mixins
@import 'shadows_r-corners.scss';
// endmixins

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}


// base
$base-font-size: 			14px;

$border-radius:				12px;

$light-grey:	 			#f2f2f2;
$mid-grey:					#e6e6e6;
$dark-grey:					#ccc;

$red:						#dd4941;

$body-color:				#4d4d4d;

$btn-blk:					#333;
$btn-blk-hover:				#666;
$btn-blk-active:			#1a1a1a;
$btn-blk-active-text:		#b3b3b3;

$btn-red:					#dd4941;
$btn-red-hover:				#e46d67;
$btn-red-active:			#a63731;
$btn-red-active-text:		#eb928d;

$placeholder-text-color: 	#999;

$heading-font:				"Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font:					"PT Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;




h1, h2, h3, h4, h5 {
  font-family: $heading-font;
  font-weight: 600;
}

h1 {
	font-size: 53px;
	margin-top: 53px;
	margin-bottom: 12px;
}

h2 {
	font-size: 33px;
}

h3 {
	font-size: 20px;
	margin-top: 43px;
	margin-bottom: 12px;
}

p {
	font-size: $base-font-size;
	color: $body-color;
	
	&.large-text {
		font-size: 20px;
		color: $body-color;
	}
	
	&.sml-text {
		font-size: 12px;
		color: $body-color;
	}
	
	&.error {
		color: $red;
	}
}

label {
	font-family: $body-font;
	color: $body-color;
	font-size: $base-font-size;
}

//input

$input-height: 35px;

input[type="text"] {
	min-height: $input-height !important;
	background-color: $mid-grey;
	cursor: text;
	font-size: $base-font-size;
	font-family: $body-font;
	border: 0;
	@include border-radius($border-radius);
	margin-right: 12px;
	margin-left: -12px;
	
	&:hover {
		background-color: $light-grey;
	}
	
	&:focus {
		outline: none;
	}
}

span.input-date {
	position: relative;
	right: -23%;
	//margin-right: 20px;
	height: 35px;
	color: #333333;
	font-size: 20px;
	line-height: 33px;
	float: left;
	z-index: 99;
	cursor: hand;
	cursor: pointer;
	
	&:hover {
		color: #5c5c5c;
	}
}

::-webkit-input-placeholder {
   color: $placeholder-text-color;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placeholder-text-color;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholder-text-color;  
}

:-ms-input-placeholder {  
   color: $placeholder-text-color;  
}

.dropdown {
	.dropdown-toggle {
		min-height: $input-height;
		background-color: $mid-grey;
		cursor: hand;
		cursor: pointer;
		font-size: $base-font-size;
		font-family: $body-font;
		width: 100%;
		text-align: left;
		
		span {
			text-align:right;
		}
		
	}
}

//button

button {
	background-color: $btn-blk;
	min-height: $input-height !important;
	font-size: $base-font-size;
	color: #fff;
	font-family: $body-font;
	@include border-radius($border-radius);
	cursor: hand;
	cursor: pointer;
	border: 0;
	position: relative;
	
	a {
		color: #fff;
		
		&:hover	 {text-decoration:none;color: #fff;}
		&:focus	 {text-decoration:none;color: #fff;outline:none;}
		&:active {text-decoration:none;color:$btn-blk-active-text;}
	}
	
	&:hover {
		background-color: $btn-blk-hover;
		text-decoration: none;
	}
	
	&:focus {
		text-decoration: none;
		outline-color: rgba(26,26,26,0.75);
		outline-style: dotted;
		outline-width: 1px;
		outline-offset: 3px;
	}
	
	&:active {
		text-decoration: none;
		background-color: $btn-blk-active;
		color: $btn-blk-active-text;
		
		a {
			color: $btn-blk-active-text;
		}
	}
	
	&.btn--red {
		background-color: $btn-red;
		
		&:hover {
			text-decoration: none;
			background-color: $btn-red-hover;
		}
		
		&:focus {
			text-decoration: none;
			outline-color: rgba(166,55,49,0.75); 
			outline-style: dotted;
			outline-width: 1px;
			outline-offset: 3px;
		}
		
		&:active {
			text-decoration: none;
			background-color: $btn-red-active;
			color: $btn-red-active-text;
		}
	}
}

//header
header {
	width: 100%;
	height: 68px;
	background-color: $light-grey;
	padding: 0 !important;
	border: 0 !important;
	z-index: 999;
	
	.navbar-brand {
		height: 68px;
		max-height: 68px;
		padding: 0;
		padding-top: 8px;
		
		h3 {
			display: inline-block;
			font-family: $heading-font !important;
			line-height: 1em;
			color: #333;
			position: relative;
			max-height: 68px;
			padding: 0;
			margin: 0;
			vertical-align: -5px;
			padding-top: 6px;
		}
		
		img {
			width: 60px;
			display: inline-block;
			//padding-top: 5px;
			margin-right: 5px;
			vertical-align: top;
		}
	}
}

nav {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  
  .nav {
  
	  a {
		  height: 68px;
		  font-family: $heading-font;
		  font-weight: 400;
		  font-size: $base-font-size;
		  color: #333;
		  padding: 0 20px;
		  box-sizing: border-box;
		  cursor: hand;
		  cursor: pointer;
		  line-height: 68px;
		  
		  &:hover {
			  background-color: $mid-grey !important;
			  text-decoration: none;
			  color: #111;
		  }
		  
		  &:focus {
			  background-color: $mid-grey !important;
			  text-decoration: none;
		  }
		  
		  &:active {
			  background-color: $dark-grey !important;
			  text-decoration: none;
			  color: #000;
		  }
	  }
  
  }
}

$max-width: 960px;


//footer

footer {
	width: 100%;
	height: 140px;
	background-color: $light-grey;
	padding: 0 !important;
	border: 0 !important;
	z-index: 999;
	margin-top: 87px;
}

//Dashboard
.dashboard {
	max-width: $max-width;
	
  .welcome {
    img {
      width: 100%;
      max-width: 182px;
      height: auto;
      border-radius: $border-radius;
    }
  }
  .booking {
    //padding-right: 30px;
    //padding-left: 30px;
	height: 53px;
	border-top: 1px solid $mid-grey;
	border-bottom: 1px solid $mid-grey;;
	padding: 8px 0;
	margin-bottom: -1px;
	
    p {
	    line-height: 33px;
	    color: #888;
	    
	    &:first-child {
		    color: $body-color;
	    }
    }
    
    &:last-child {
	    margin-bottom: 33px;
    }
  }
  /*.booking--date {
    background: antiquewhite;
  }*/

  .angular-google-map-container { height: 200px; }
}

.booking {
	max-width: $max-width;
}

.booking-calendar {
  .cal-day-current {
    background: aqua;
  }
}
.booking-day{
  .booking-day--inner {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

// calendar

.calendar {
	margin-top: 33px;
}

.cal-row-head {
	font-family: $heading-font;
	font-size: 20px;
	font-weight: 600;
}

.cal-month-day {
	span {
		width: 100%;
		text-align: center;
		text-align: -webkit-center;
		margin: 0;
		padding: 0;
		font-size: 20px;
	}
}