$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

//header
nav {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
//Dashboard
.dashboard {
  .welcome {
    img {
      width: 100%;
      max-width: 200px;
      height: auto;
      border-radius: 8px;
    }
  }
  .bookings {
    padding-right: 30px;
    padding-left: 30px;
  }
  .booking--date {
    background: antiquewhite;
  }

  .angular-google-map-container { height: 200px; }
}

.booking {

}

.booking-calendar {
  .cal-day-current {
    background: aqua;
  }
}
.booking-day{
  .booking-day--inner {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}