<div class="booking-calendar">
  <mwl-calendar
      id="monthCalendar"
      calendar-events="events"
      calendar-view="calendarView"
      calendar-current-day="calendarDay"
      calendar-control="calendarControl"
      calendar-event-click="calendarClicked($event)"
      calendar-edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
      calendar-delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
      calendar-edit-event-click="eventEdited($event)"
      calendar-delete-event-click="eventDeleted($event)"
      calendar-auto-open="true">
      </mwl-calendar>
</div>

    <div ng-click="calendarControl.prev()"></div>
    <div ng-click="calendarControl.next()"></div>