<div class="dashboard container">
  <h1>
    Welcome {{user.name}}
  </h1>

  <div class="welcome row">
    <div class="col-md-3">
      <img class="user-avatar" ng-src="{{user.picture}}"/>
    </div>
   <!-- <div class="col-md-9 location-map">
      <div id="map_canvas">
        <ui-gmap-google-map center="map.center" zoom="map.zoom"></ui-gmap-google-map>
      </div>
    </div> -->
  </div>

  <div class="row">
	<h3 class="col-sm-12">Current Bookings</h3>
    <div class="col-xs-12 container-fluid bookings">

      <div class="row booking" ng-repeat="booking in bookings">
        <p class="col-sm-3 booking--date">{{booking.startDate | date: 'EEE dd MMM HH.mm'}}-{{booking.endDate | date: 'HH.mm'}}</p>
        <p class="col-sm-3 booking--place">{{booking.location}}</p>
        <p class="col-sm-3 booking--inspect">Inspector {{booking.beamName}}</p>
        <button class="col-sm-2 booking--cancel btn--red">cancel booking</button>
        <!--<div class="col-sm-2 booking--settings">settings/notification</div>-->
      </div>

    </div>
  </div>

  <button class="new-booking col-sm-3"><a ui-sref="booking">book another Beam</a></button>
</div>